# Compiled object files
*.o

# Compiled static libraries
*.a

# Compiled dynamic libraries
*.so

# Executable files
*.out
*.exe

# Debug files
*.dSYM/
*.dmp

# Temporary files
*.tmp
*.log

# Backup files
*.bak
*.swp

# IDE specific files
.vscode/
.idea/
*.code-workspace

# CMake build directory
/build/